/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -text-colour: black;
}

.darkmode {
  background-color: black;
}

.s1 {
  width: 100%;
  height: 632px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(https://wallpapermemory.com/uploads/551/interstellar-wallpaper-ultra-hd-4k-238903.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.s1 header {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1250px) {
  .s1 header {
    width: 95%;
  }
}
.s1 header .headertext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.s1 header .fa-magnifying-glass {
  font-size: 40px;
  cursor: pointer;
}
.s1 header .fa-user {
  font-size: 40px;
  cursor: pointer;
}
.s1 header img {
  width: 120px;
  height: 120px;
}
.s1 header .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  gap: 6px;
  cursor: pointer;
}
.s1 header .bars h1 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.s1 .arrows {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 154px;
}
@media (max-width: 1250px) {
  .s1 .arrows {
    width: 95%;
  }
}
.s1 .arrows i {
  font-size: 56px;
}

.s2 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-top: 108px;
}
@media (max-width: 1250px) {
  .s2 {
    width: 95%;
  }
}
.s2 h1 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.s2 .yveladivi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 18px;
  margin-top: 32px;
  margin-bottom: 108px;
}
.s2 .yveladivi .filmebi {
  margin-top: 32px;
}
.s2 .yveladivi .filmebi .div1 {
  width: 295px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(https://m.media-amazon.com/images/M/MV5BNzIxMDQ2YTctNDY4MC00ZTRhLTk4ODQtMTVlOWY4NTdiYmMwXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg) lightgray 50%/cover no-repeat;
}
.s2 .yveladivi .filmebi .div2 {
  width: 295px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s2 .yveladivi .filmebi .div2 h2 {
  margin-top: 16px;
  color: #000;
  margin-left: 16px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.s2 .yveladivi .filmebi .div2 p {
  width: 215px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 137.5% */
  margin-top: 16px;
  margin-left: 16px;
}
.s2 .yveladivi .filmebi .div2 a .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 15px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 .yveladivi .filmebi .div2 a .button h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}
.s2 .yveladivi .filmebi1 {
  margin-top: 32px;
}
.s2 .yveladivi .filmebi1 .div1 {
  width: 295px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(https://m.media-amazon.com/images/M/MV5BMDAyY2FhYjctNDc5OS00MDNlLThiMGUtY2UxYWVkNGY2ZjljXkEyXkFqcGc@._V1_.jpg) lightgray 50%/cover no-repeat;
}
.s2 .yveladivi .filmebi1 .div2 {
  width: 295px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s2 .yveladivi .filmebi1 .div2 h2 {
  margin-top: 16px;
  color: #000;
  margin-left: 16px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.s2 .yveladivi .filmebi1 .div2 p {
  width: 260px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 137.5% */
  margin-top: 16px;
  margin-left: 16px;
}
.s2 .yveladivi .filmebi1 .div2 a .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 15px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 .yveladivi .filmebi1 .div2 a .button h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}
.s2 .yveladivi .filmebi2 {
  margin-top: 32px;
}
.s2 .yveladivi .filmebi2 .div1 {
  width: 295px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_FMjpg_UX1000_.jpg) lightgray 50%/cover no-repeat;
}
.s2 .yveladivi .filmebi2 .div2 {
  width: 295px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s2 .yveladivi .filmebi2 .div2 h2 {
  margin-top: 16px;
  color: #000;
  margin-left: 16px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.s2 .yveladivi .filmebi2 .div2 p {
  width: 215px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 137.5% */
  margin-top: 16px;
  margin-left: 16px;
}
.s2 .yveladivi .filmebi2 .div2 a .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 14px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 .yveladivi .filmebi2 .div2 a .button h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}
.s2 .yveladivi .filmebi3 {
  margin-top: 32px;
}
.s2 .yveladivi .filmebi3 .div1 {
  width: 295px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(https://m.media-amazon.com/images/M/MV5BYTJkNGQyZDgtZDQ0NC00MDM0LWEzZWQtYzUzZDEwMDljZWNjXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg) lightgray 50%/cover no-repeat;
}
.s2 .yveladivi .filmebi3 .div2 {
  width: 295px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s2 .yveladivi .filmebi3 .div2 h2 {
  margin-top: 16px;
  color: #000;
  margin-left: 16px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.s2 .yveladivi .filmebi3 .div2 p {
  width: 215px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 137.5% */
  margin-top: 16px;
  margin-left: 16px;
}
.s2 .yveladivi .filmebi3 .div2 a .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 28px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 .yveladivi .filmebi3 .div2 a .button h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}

.s3 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .s3 {
    width: 95%;
  }
}
.s3 h1 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  margin-bottom: 32px;
}
.s3 .cardebi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}
.s3 .cardebi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 122px;
  height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.s3 .cardebi .trailerisbutton {
  width: 122px;
  height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 14px;
  margin-left: 16px;
}
.s3 .cardebi .trailerisbutton h1 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px; /* 140% */
  margin-left: 18px;
}
.s3 .cardebi .card1 {
  max-width: 610px;
  width: 100%;
  height: 356px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.31%, rgba(0, 0, 0, 0.4)), color-stop(55.1%, rgba(0, 0, 0, 0.28)), to(rgba(0, 0, 0, 0))), url(<path-to-image>) lightgray -1106397034676718500px -7474080605189060000px/1633123864057708300% 2099460844154230300% no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 10.31%, rgba(0, 0, 0, 0.28) 55.1%, rgba(0, 0, 0, 0) 100%), url(<path-to-image>) lightgray -1106397034676718500px -7474080605189060000px/1633123864057708300% 2099460844154230300% no-repeat;
  background: url(https://m.media-amazon.com/images/M/MV5BYjYwMjQ3OTEtNTI2OS00MjcxLTgxYzctM2JjZjE3NGE3YmFhXkEyXkFqcGc@._V1_.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
.s3 .cardebi .card2 {
  max-width: 610px;
  width: 100%;
  height: 356px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.31%, rgba(0, 0, 0, 0.4)), color-stop(55.1%, rgba(0, 0, 0, 0.28)), to(rgba(0, 0, 0, 0))), url(<path-to-image>) lightgray -1106397034676718500px -7474080605189060000px/1633123864057708300% 2099460844154230300% no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 10.31%, rgba(0, 0, 0, 0.28) 55.1%, rgba(0, 0, 0, 0) 100%), url(<path-to-image>) lightgray -1106397034676718500px -7474080605189060000px/1633123864057708300% 2099460844154230300% no-repeat;
  background: url(https://www.irishfilmcritic.com/wp-content/uploads/2024/11/Captain-America.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.s4 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .s4 {
    width: 95%;
  }
}
.s4 h6 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  margin-top: 107px;
  margin-bottom: 32px;
}
.s4 .yvelaseriali {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}
.s4 .yvelaseriali .textebisdivi .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s4 .yvelaseriali .textebisdivi .button h5 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}
.s4 .yvelaseriali h2 {
  color: var(-text-colour);
  margin-top: 30px;
  margin-left: 20px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.s4 .yvelaseriali p {
  color: var(-text-colour);
  max-width: 295px;
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 137.5% */
}
.s4 .yvelaseriali .seriali1 {
  max-width: 400px;
  width: 100%;
  max-height: 564px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.s4 .yvelaseriali .seriali1 .seriisdivi {
  max-width: 400px;
  width: 100%;
  max-height: 296px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray -0.61px -175.718px/100% 186.086% no-repeat;
}
.s4 .yvelaseriali .seriali1 .textebisdivi {
  width: 400px;
  width: 100%;
  max-height: 268px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s4 .yvelaseriali .seriali1 .seriisdivi {
  background: url(https://resizing.flixster.com/pEBczBamx-gHmTasBaajPymDTN0=/ems.cHJkLWVtcy1hc3NldHMvdHZzZXJpZXMvNjdhNjc3MDMtMThlNS00MTdmLWI5MGYtNjFkMjViZjJlZmFkLmpwZw==);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.s4 .yvelaseriali .seriali1 .textebisdivi .button {
  margin-top: 40px;
}
.s4 .yvelaseriali .seriali2 {
  max-width: 400px;
  width: 100%;
  max-height: 564px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.s4 .yvelaseriali .seriali2 .seriisdivi {
  max-width: 400px;
  width: 100%;
  max-height: 296px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray -0.61px -175.718px/100% 186.086% no-repeat;
}
.s4 .yvelaseriali .seriali2 .textebisdivi {
  width: 400px;
  width: 100%;
  max-height: 268px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s4 .yvelaseriali .seriali2 .seriisdivi {
  background: url(https://uhdwallpapers.org/uploads/cache/39667694/daenerys-targaryen-game-of-thrones-8_600x338-mm-90.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.s4 .yvelaseriali .seriali2 .textebisdivi .button {
  margin-top: 21px;
}
.s4 .yvelaseriali .seriali3 {
  max-width: 400px;
  width: 100%;
  max-height: 564px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.s4 .yvelaseriali .seriali3 .seriisdivi {
  max-width: 400px;
  width: 100%;
  max-height: 296px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray -0.61px -175.718px/100% 186.086% no-repeat;
}
.s4 .yvelaseriali .seriali3 .textebisdivi {
  width: 400px;
  width: 100%;
  max-height: 268px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s4 .yvelaseriali .seriali3 .seriisdivi {
  background: url(https://static.displate.com/857x1200/displate/2021-02-09/265eb60ddb098e964211e1cfc5c787f6_adfafdfc684d9a6c5e90f7d9e584fa82.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.s4 .yvelaseriali .seriali3 .textebisdivi .button {
  margin-top: 66px;
}

.s5 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-top: 108px;
}
@media (max-width: 1250px) {
  .s5 {
    width: 95%;
  }
}
.s5 .yvelajanri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}
.s5 .yvelajanri .janrisbutton {
  width: 122px;
  height: 28px;
  border-radius: 20px;
  background: #309d6f;
  margin-top: 32px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s5 .yvelajanri .janrisbutton h1 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px; /* 140% */
}
.s5 .yvelajanri .janri1 {
  max-width: 400px;
  width: 100%;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray 0px 18px/100% 95.27% no-repeat;
  background: url(https://wallpapers.com/images/featured/4k-marvel-awrqh8lcgyk3crjc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.s5 .yvelajanri .janri2 {
  max-width: 400px;
  width: 100%;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray 0px 18px/100% 95.27% no-repeat;
  background: url(https://c4.wallpaperflare.com/wallpaper/987/845/125/action-nature-green-smile-wallpaper-preview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.s5 .yvelajanri .janri3 {
  max-width: 400px;
  width: 100%;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray 0px 18px/100% 95.27% no-repeat;
  background: url(https://rukminim2.flixcart.com/image/850/1000/l111lzk0/poster/1/d/j/medium-rings-horror-movie-2016-4k-on-fine-art-paper-hd-quality-original-imagczwux574g9hp.jpeg?q=90&crop=false);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s6 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  width: 1240px;
  height: 456px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 108px;
  background-color: #006d9b;
  border-radius: 30px;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1250px) {
  .s6 {
    width: 95%;
  }
}
.s6 h2 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding-left: 60px;
  padding-top: 56px;
  line-height: 32px; /* 133.333% */
}
.s6 .yvelacinemamovies {
  max-width: 1122px;
  padding-left: 60px;
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 12px;
}
.s6 .yvelacinemamovies .film1 {
  width: 256px;
  height: 272px;
  border-radius: 25px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  background: url(https://images.savoysystems.co.uk/RCS/7708333.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.s6 .yvelacinemamovies .film2 {
  width: 256px;
  height: 272px;
  border-radius: 25px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  background: url(https://resizing.flixster.com/5yCDU3YndW2EIWaEwH1FydaMwZI=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzL2E0MGM5YTk5LTdhY2UtNGYzNS04NGVmLTJlNjRkYjljNjQ4ZS5qcGc=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.s6 .yvelacinemamovies .film3 {
  width: 256px;
  height: 272px;
  border-radius: 25px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  background: url(https://yc.cldmlk.com/8egh4pzb72gwe1mpt1vtez21a8/uploads/vertical_df1ef15f-5cc1-4c39-92a5-1dcd17d6040b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.s6 .yvelacinemamovies .film4 {
  width: 256px;
  height: 272px;
  border-radius: 25px;
  border: 1px solid #a3a3a3;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  background: url(https://assets-prd.ignimgs.com/2023/06/19/fyybldfaaambxsg-1687201253291.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #309d6f;
  margin-top: 108px;
}
footer .footerdiv {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 1250px) {
  footer .footerdiv {
    width: 95%;
  }
}
footer .footerdiv img {
  width: 100px;
  height: 100px;
}
footer .footerdiv h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.lordseqcia1header {
  width: 100%;
  height: 180px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-bottom: 2px solid #0e1020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lordseqcia1header .header2 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1250px) {
  .lordseqcia1header .header2 {
    width: 95%;
  }
}
.lordseqcia1header .header2 .headertext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.lordseqcia1header .header2 .fa-magnifying-glass {
  font-size: 40px;
  cursor: pointer;
}
.lordseqcia1header .header2 .fa-user {
  font-size: 40px;
  cursor: pointer;
}
.lordseqcia1header .header2 img {
  width: 120px;
  height: 120px;
}
.lordseqcia1header .header2 .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  gap: 6px;
  cursor: pointer;
}
.lordseqcia1header .header2 .bars h1 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}

.lordseqcia2 {
  margin-top: 92px;
}
.lordseqcia2 .fotoebidatextebilord {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1250px) {
  .lordseqcia2 .fotoebidatextebilord {
    width: 95%;
  }
}
.lordseqcia2 .fotoebidatextebilord .fotoebilord {
  max-width: 610px;
  width: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lordseqcia2 .fotoebidatextebilord .fotoebilord .didifoto {
  max-width: 505px;
  width: 100%;
  height: 548px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://m.media-amazon.com/images/M/MV5BNzIxMDQ2YTctNDY4MC00ZTRhLTk4ODQtMTVlOWY4NTdiYmMwXkEyXkFqcGc@._V1_.jpg) lightgray -10.863px 10.637px/108.515% 100% no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lordseqcia2 .fotoebidatextebilord .fotoebilord .patarafotoebilord {
  max-width: 85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.lordseqcia2 .fotoebidatextebilord .fotoebilord .patarafotoebilord .lordfoto1 {
  max-width: 85px;
  width: 100%;
  max-height: 85px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://s26162.pcdn.co/wp-content/uploads/2023/07/The-Fellowship-of-the-Ring.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lordseqcia2 .fotoebidatextebilord .fotoebilord .patarafotoebilord .lordfoto2 {
  max-width: 85px;
  width: 100%;
  max-height: 85px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://res.cloudinary.com/ybmedia/image/upload/c_crop,h_1117,w_1988,x_0,y_22/c_fill,f_auto,h_1215,q_auto,w_2160/v1/m/9/b/9b3f77c4c45da75936a12356713328f5ecf5a278/20-facts-might-know-lord-rings-fellowship-ring.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lordseqcia2 .fotoebidatextebilord .fotoebilord .patarafotoebilord .lordfoto3 {
  max-width: 85px;
  width: 100%;
  max-height: 85px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://statcdn.fandango.com/MPX/image/NBCU_Fandango/909/98/thumb_F217C17A-3384-4B24-82F8-4305A4224AB0.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lordseqcia2 .fotoebidatextebilord .fotoebilord .patarafotoebilord .lordfoto4 {
  max-width: 85px;
  width: 100%;
  max-height: 85px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://i.guim.co.uk/img/media/6812d2f5cd8ad9b9a26fff36804d99142574f47f/0_98_2745_1647/master/2745.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=06c4227ed1cbb8bb3925d1af537a88a9);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lordseqcia2 .fotoebidatextebilord .textebilord {
  max-width: 463px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.lordseqcia2 .fotoebidatextebilord .textebilord .watchnowlord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 259px;
  padding: 12px 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 35px;
  background: var(--Primary-Primary-10, #309d6f);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}
.lordseqcia2 .fotoebidatextebilord .textebilord .watchnowlord h2 {
  color: var(--Primary-Primary-1, #eaf5f1);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.lordseqcia2 .fotoebidatextebilord .textebilord h1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.lordseqcia2 .fotoebidatextebilord .textebilord p {
  max-width: 369px;
  width: 100%;
  height: 182px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

footer {
  width: 100%;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #309d6f;
  margin-top: 108px;
}
footer .footerdiv {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 1250px) {
  footer .footerdiv {
    width: 95%;
  }
}
footer .footerdiv img {
  width: 100px;
  height: 100px;
}
footer .footerdiv h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.shawseqcia1header {
  width: 100%;
  height: 180px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-bottom: 2px solid #0e1020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shawseqcia1header .header2shaw {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1250px) {
  .shawseqcia1header .header2shaw {
    width: 95%;
  }
}
.shawseqcia1header .header2shaw .headertext1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.shawseqcia1header .header2shaw .fa-magnifying-glass {
  font-size: 40px;
  cursor: pointer;
}
.shawseqcia1header .header2shaw .fa-user {
  font-size: 40px;
  cursor: pointer;
}
.shawseqcia1header .header2shaw img {
  width: 120px;
  height: 120px;
}
.shawseqcia1header .header2shaw .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  gap: 6px;
  cursor: pointer;
}
.shawseqcia1header .header2shaw .bars h1 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}

.shawseqcia2 {
  margin-top: 92px;
}
.shawseqcia2 .fotoebidatextebishaw {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1250px) {
  .shawseqcia2 .fotoebidatextebishaw {
    width: 95%;
  }
}
.shawseqcia2 .fotoebidatextebishaw .fotoebishaw {
  max-width: 610px;
  width: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shawseqcia2 .fotoebidatextebishaw .fotoebishaw .didifotoshaw {
  max-width: 505px;
  width: 100%;
  height: 548px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://m.media-amazon.com/images/M/MV5BMDAyY2FhYjctNDc5OS00MDNlLThiMGUtY2UxYWVkNGY2ZjljXkEyXkFqcGc@._V1_.jpg) lightgray -10.863px 10.637px/108.515% 100% no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shawseqcia2 .fotoebidatextebishaw .fotoebishaw .patarafotoebishaw {
  max-width: 85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.shawseqcia2 .fotoebidatextebishaw .fotoebishaw .patarafotoebishaw .shawfoto1 {
  max-width: 85px;
  width: 100%;
  max-height: 85px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://images.squarespace-cdn.com/content/v1/54992035e4b0c49940a59e49/1571288095441-XGJGE81A2ADZ885J70LY/shawshank+rain.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shawseqcia2 .fotoebidatextebishaw .fotoebishaw .patarafotoebishaw .shawfoto2 {
  max-width: 85px;
  width: 100%;
  max-height: 85px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://geekywhale.com/wp-content/uploads/2020/12/the-shawshank-redemption-red-andy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shawseqcia2 .fotoebidatextebishaw .fotoebishaw .patarafotoebishaw .shawfoto3 {
  max-width: 85px;
  width: 100%;
  max-height: 85px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://littlebitsofgaming.com/wp-content/uploads/2024/10/shawshank-redemption-main.jpg?w=1024);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shawseqcia2 .fotoebidatextebishaw .fotoebishaw .patarafotoebishaw .shawfoto4 {
  max-width: 85px;
  width: 100%;
  max-height: 85px;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-10, #0e1020);
  background: url(https://www.hollywoodreporter.com/wp-content/uploads/2018/03/the_shawshank_redemption_-_h_-_1994.jpg?w=1296&h=730&crop=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shawseqcia2 .fotoebidatextebishaw .textebishaw {
  max-width: 463px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.shawseqcia2 .fotoebidatextebishaw .textebishaw .watchnowshaw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 259px;
  padding: 12px 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 35px;
  background: var(--Primary-Primary-10, #309d6f);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}
.shawseqcia2 .fotoebidatextebishaw .textebishaw .watchnowshaw h2 {
  color: var(--Primary-Primary-1, #eaf5f1);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.shawseqcia2 .fotoebidatextebishaw .textebishaw h1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.shawseqcia2 .fotoebidatextebishaw .textebishaw p {
  max-width: 369px;
  width: 100%;
  height: 182px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

footer {
  width: 100%;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #309d6f;
  margin-top: 108px;
}
footer .footerdiv {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 1250px) {
  footer .footerdiv {
    width: 95%;
  }
}
footer .footerdiv img {
  width: 100px;
  height: 100px;
}
footer .footerdiv h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

@media (max-width: 840px) {
  .s1 {
    height: 400px;
  }
  .s1 .arrows {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px;
  }
}
@media (max-width: 840px) and (max-width: 1250px) {
  .s1 .arrows {
    width: 95%;
  }
}
@media (max-width: 840px) {
  .s1 .arrows i {
    font-size: 46px;
  }
  .s1 header .fa-magnifying-glass {
    font-size: 30px;
  }
  .s1 header .fa-user {
    font-size: 30px;
  }
  .s1 header img {
    width: 70px;
    height: 70px;
  }
  .s1 header .bars {
    font-size: 20px;
  }
  .s1 header .bars h1 {
    font-size: 12px;
  }
}
@media (max-width: 470px) {
  .s1 {
    height: 300px;
  }
  .s1 .arrows {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
  }
}
@media (max-width: 470px) and (max-width: 1250px) {
  .s1 .arrows {
    width: 95%;
  }
}
@media (max-width: 470px) {
  .s1 .arrows i {
    font-size: 30px;
  }
}
@media (max-width: 340px) {
  .s1 header .bars {
    font-size: 30px;
  }
  .s1 header .headertext h1 {
    display: none;
  }
}
@media (max-width: 1250px) {
  .yveladivi {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 420px) {
  .s4 .yvelaseriali .seriisdivi {
    width: 340px;
    height: 296px;
  }
  .s4 .yvelaseriali .textebisdivi {
    width: 340px;
    height: 268px;
  }
}
@media (max-width: 344px) {
  .s4 .yvelaseriali .textebisdivi p {
    font-size: 14px;
    width: 250px;
    line-height: 20px;
  }
}
@media (max-width: 1200px) {
  .s6 .yvelacinemamovies .film4 {
    display: none;
  }
}
@media (max-width: 918px) {
  .s6 .yvelacinemamovies {
    padding-left: 20px;
  }
  .s6 .yvelacinemamovies .film4 {
    display: none;
  }
  .s6 .yvelacinemamovies .film3 {
    display: none;
  }
}
@media (max-width: 572px) {
  .s6 .yvelacinemamovies {
    padding-left: 20px;
  }
  .s6 .yvelacinemamovies .film4 {
    display: none;
  }
  .s6 .yvelacinemamovies .film3 {
    display: none;
  }
  .s6 .yvelacinemamovies .film2 {
    display: none;
  }
}
/*lordofthering*/
@media (max-width: 425px) {
  .lordseqcia1header header .headertext .bars .fa-bars {
    font-size: 40px;
  }
  .lordseqcia1header header .headertext h1 {
    display: none;
  }
}
@media (max-width: 646px) {
  .lordseqcia2 .fotodatextebilord .fotoebilord .patarafotoebilord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}/*# sourceMappingURL=global.css.map */