/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -text-colour: black;
}

.s1 {
  width: 100%;
  height: 632px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(https://wallpapermemory.com/uploads/551/interstellar-wallpaper-ultra-hd-4k-238903.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.s1 header {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1250px) {
  .s1 header {
    width: 95%;
  }
}
.s1 header .headertext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.s1 header .fa-magnifying-glass {
  font-size: 40px;
  cursor: pointer;
}
.s1 header .fa-user {
  font-size: 40px;
  cursor: pointer;
}
.s1 header img {
  width: 100px;
  height: 100px;
}
.s1 header .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  gap: 6px;
  cursor: pointer;
}
.s1 header .bars h1 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.s1 .arrows {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 154px;
}
@media (max-width: 1250px) {
  .s1 .arrows {
    width: 95%;
  }
}
.s1 .arrows i {
  font-size: 56px;
}

.s2 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-top: 108px;
}
@media (max-width: 1250px) {
  .s2 {
    width: 95%;
  }
}
.s2 h1 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.s2 .yveladivi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 18px;
  margin-top: 32px;
  margin-bottom: 108px;
}
.s2 .yveladivi .filmebi {
  margin-top: 32px;
}
.s2 .yveladivi .filmebi .div1 {
  width: 295px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(https://m.media-amazon.com/images/M/MV5BNzIxMDQ2YTctNDY4MC00ZTRhLTk4ODQtMTVlOWY4NTdiYmMwXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg) lightgray 50%/cover no-repeat;
}
.s2 .yveladivi .filmebi .div2 {
  width: 295px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s2 .yveladivi .filmebi .div2 h2 {
  margin-top: 16px;
  color: #000;
  margin-left: 16px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.s2 .yveladivi .filmebi .div2 p {
  width: 215px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 137.5% */
  margin-top: 16px;
  margin-left: 16px;
}
.s2 .yveladivi .filmebi .div2 a .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 15px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 .yveladivi .filmebi .div2 a .button h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}
.s2 .yveladivi .filmebi1 {
  margin-top: 32px;
}
.s2 .yveladivi .filmebi1 .div1 {
  width: 295px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(https://m.media-amazon.com/images/M/MV5BMDAyY2FhYjctNDc5OS00MDNlLThiMGUtY2UxYWVkNGY2ZjljXkEyXkFqcGc@._V1_.jpg) lightgray 50%/cover no-repeat;
}
.s2 .yveladivi .filmebi1 .div2 {
  width: 295px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s2 .yveladivi .filmebi1 .div2 h2 {
  margin-top: 16px;
  color: #000;
  margin-left: 16px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.s2 .yveladivi .filmebi1 .div2 p {
  width: 260px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 137.5% */
  margin-top: 16px;
  margin-left: 16px;
}
.s2 .yveladivi .filmebi1 .div2 a .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 15px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 .yveladivi .filmebi1 .div2 a .button h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}
.s2 .yveladivi .filmebi2 {
  margin-top: 32px;
}
.s2 .yveladivi .filmebi2 .div1 {
  width: 295px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_FMjpg_UX1000_.jpg) lightgray 50%/cover no-repeat;
}
.s2 .yveladivi .filmebi2 .div2 {
  width: 295px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s2 .yveladivi .filmebi2 .div2 h2 {
  margin-top: 16px;
  color: #000;
  margin-left: 16px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.s2 .yveladivi .filmebi2 .div2 p {
  width: 215px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 137.5% */
  margin-top: 16px;
  margin-left: 16px;
}
.s2 .yveladivi .filmebi2 .div2 a .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 14px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 .yveladivi .filmebi2 .div2 a .button h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}
.s2 .yveladivi .filmebi3 {
  margin-top: 32px;
}
.s2 .yveladivi .filmebi3 .div1 {
  width: 295px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #a3a3a3;
  background: url(https://m.media-amazon.com/images/M/MV5BYTJkNGQyZDgtZDQ0NC00MDM0LWEzZWQtYzUzZDEwMDljZWNjXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg) lightgray 50%/cover no-repeat;
}
.s2 .yveladivi .filmebi3 .div2 {
  width: 295px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #a3a3a3;
  background: white;
}
.s2 .yveladivi .filmebi3 .div2 h2 {
  margin-top: 16px;
  color: #000;
  margin-left: 16px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.s2 .yveladivi .filmebi3 .div2 p {
  width: 215px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 137.5% */
  margin-top: 16px;
  margin-left: 16px;
}
.s2 .yveladivi .filmebi3 .div2 a .button {
  width: 88px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 28px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 .yveladivi .filmebi3 .div2 a .button h6 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}

.s3 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .s3 {
    width: 95%;
  }
}
.s3 h1 {
  color: var(-text-colour);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  margin-bottom: 32px;
}
.s3 .cardebi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}
.s3 .cardebi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 122px;
  height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.s3 .cardebi .trailerisbutton {
  width: 122px;
  height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-color: #006d9b;
  margin-top: 14px;
  margin-left: 16px;
}
.s3 .cardebi .trailerisbutton h1 {
  color: var(--Gray-Gray-1, #f3f4f8);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px; /* 140% */
  margin-left: 18px;
}
.s3 .cardebi .card1 {
  max-width: 610px;
  width: 100%;
  height: 356px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.31%, rgba(0, 0, 0, 0.4)), color-stop(55.1%, rgba(0, 0, 0, 0.28)), to(rgba(0, 0, 0, 0))), url(<path-to-image>) lightgray -1106397034676718500px -7474080605189060000px/1633123864057708300% 2099460844154230300% no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 10.31%, rgba(0, 0, 0, 0.28) 55.1%, rgba(0, 0, 0, 0) 100%), url(<path-to-image>) lightgray -1106397034676718500px -7474080605189060000px/1633123864057708300% 2099460844154230300% no-repeat;
  background: url(https://m.media-amazon.com/images/M/MV5BYjYwMjQ3OTEtNTI2OS00MjcxLTgxYzctM2JjZjE3NGE3YmFhXkEyXkFqcGc@._V1_.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
.s3 .cardebi .card2 {
  max-width: 610px;
  width: 100%;
  height: 356px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.31%, rgba(0, 0, 0, 0.4)), color-stop(55.1%, rgba(0, 0, 0, 0.28)), to(rgba(0, 0, 0, 0))), url(<path-to-image>) lightgray -1106397034676718500px -7474080605189060000px/1633123864057708300% 2099460844154230300% no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 10.31%, rgba(0, 0, 0, 0.28) 55.1%, rgba(0, 0, 0, 0) 100%), url(<path-to-image>) lightgray -1106397034676718500px -7474080605189060000px/1633123864057708300% 2099460844154230300% no-repeat;
  background: url(https://www.irishfilmcritic.com/wp-content/uploads/2024/11/Captain-America.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

@media (max-width: 840px) {
  .s1 {
    height: 400px;
  }
  .s1 .arrows {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px;
  }
}
@media (max-width: 840px) and (max-width: 1250px) {
  .s1 .arrows {
    width: 95%;
  }
}
@media (max-width: 840px) {
  .s1 .arrows i {
    font-size: 46px;
  }
  .s1 header .fa-magnifying-glass {
    font-size: 30px;
  }
  .s1 header .fa-user {
    font-size: 30px;
  }
  .s1 header img {
    width: 70px;
    height: 70px;
  }
  .s1 header .bars {
    font-size: 20px;
  }
  .s1 header .bars h1 {
    font-size: 12px;
  }
}
@media (max-width: 470px) {
  .s1 {
    height: 300px;
  }
  .s1 .arrows {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
  }
}
@media (max-width: 470px) and (max-width: 1250px) {
  .s1 .arrows {
    width: 95%;
  }
}
@media (max-width: 470px) {
  .s1 .arrows i {
    font-size: 30px;
  }
}
@media (max-width: 340px) {
  .s1 header .bars {
    font-size: 30px;
  }
  .s1 header .headertext h1 {
    display: none;
  }
}
@media (max-width: 1250px) {
  .yveladivi {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}/*# sourceMappingURL=global.css.map */