@media (max-width: 840px) {
  .s1 {
    .arrows {
      @include container;
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      i {
        font-size: 46px;
      }
    }
    height: 400px;
    header {
      // padding-top: 28px;

      .fa-magnifying-glass {
        font-size: 30px;
      }
      .fa-user {
        font-size: 30px;
      }
      img {
        width: 70px;
        height: 70px;
      }
      .bars {
        font-size: 20px;

        h1 {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .s1 {
    height: 300px;
    .arrows {
      @include container;
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
      i {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 340px) {
  .s1 {
    header {
      .bars {
        font-size: 30px;
      }
      .headertext {
        h1 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .yveladivi {
    justify-content: space-evenly;
  }
}

@media (max-width: 420px) {
  .s4 {
    .yvelaseriali {
      .seriisdivi {
        width: 340px;
        height: 296px;
      }
      .textebisdivi {
        width: 340px;
        height: 268px;
      }
    }
  }
}

@media (max-width: 344px) {
  .s4 {
    .yvelaseriali {
      .textebisdivi {
        p {
          font-size: 14px;
          width: 250px;
          line-height: 20px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .s6 {
    .yvelacinemamovies {
      .film4 {
        display: none;
      }
    }
  }
}

@media (max-width: 918px) {
  .s6 {
    .yvelacinemamovies {
      padding-left: 20px;
      .film4 {
        display: none;
      }
      .film3 {
        display: none;
      }
    }
  }
}

@media (max-width: 572px) {
  .s6 {
    .yvelacinemamovies {
      padding-left: 20px;
      .film4 {
        display: none;
      }
      .film3 {
        display: none;
      }
      .film2 {
        display: none;
      }
    }
  }
}
